{% extends 'layout-default.njk' %}

{% block themeBody %}
  <div class="ga-head-l"></div>
  <header id="main-header" class="header-grid-area">
    {% block header %}
      {% include 'partials/header.njk' %}
    {% endblock header%}
  </header>
  <div class="ga-head-r"></div>

  <div class="ga-content2-l"></div>
  <div class="content-grid-area">
    {% block content %}
      {% include 'partials/_layoutSidebar/content.njk' %}
    {% endblock content %}
  </div>
  <div class="ga-content2-r"></div>

  <div class="ga-foot-l"></div>
  <div class="ga-foot-main">
    {% block footer %}
      {% include 'partials/footer.njk' %}
    {% endblock footer %}
  </div>
  <div class="ga-foot-r"></div>
  

  <div class="sidebar-grid-area">
    {% block sidebar %}
      {% include 'partials/_layoutSidebar/sidebar.njk' %}
    {% endblock sidebar %}
  </div>


  {% include 'partials/bottom.njk' %}
{% endblock themeBody %}
