{% extends 'layout-default.njk' %}

{% block themeBody %}
  <div class="ga-head-l"></div>
  <div class="ga-head-r"></div>

  <div class="ga-content2-l"></div>
  <div class="ga-content2-r"></div>

  <div class="ga-foot-l"></div>
  <div class="ga-foot-r"></div>
    {% include '_block/sidebar.njk' %}
{% endblock themeBody %}
