<!doctype html>
{% block htmlTag %}
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
{% endblock htmlTag %}
{% include 'block/head.njk' %}
{% block bodyTag %}
  <body layout="{{ layout }}">
{% endblock bodyTag %}
{% block themeBody %}
{% endblock themeBody%}
{% include 'block/header.njk' %}
{% include 'block/main.njk' %}
{% include 'block/footer.njk' %}
{% include 'block/bottom.njk' %}
  </body>
</html>
