{# this was a total hack because i got tired of fighting with it April 3, 2025 #}

{# you meed to fix everything here from the theme.css, grid.css to all the nunjucks files including elsewhere #}

<!doctype html>
{% block htmlTag %}
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
{% endblock htmlTag %}
{% include '_block/head.njk' %}
{% block bodyTag %}
  <body layout="{{ layout }}">
{% endblock bodyTag %}
{% block themeBody %}
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
{% endblock themeBody%}
{% include '_block/header.njk' %}
{% include '_block/footer.njk' %}
  </body>
</html>
