    <footer id="main-footer" class="ga-foot-main">
      {% block footer_snippets %}
        {% include 'snippet/footer-description.njk' %}
        {% include 'snippet/footer-menu.njk' %}
        {% include 'snippet/footer-newsletter.njk' %}
      {% endblock footer_snippets %}
    </footer>