  <head>
{% block head_snippets %}
{% include 'snippet/head-defaults.njk' %}
{% include 'snippet/head-icons.njk' %}
{% include 'snippet/head-fonts.njk' %}
{% include 'snippet/head-noscript.njk' %}
{% include 'snippet/head-social-media.njk' %}
{% include 'snippet/head-stylesheets.njk' %}
{% endblock head_snippets %}
  </head>
