<header id="main-header" class="header-grid-area">
    {% block header_snippets %}
        {% include 'snippet/header-collection-header.njk' %}
        {% include 'snippet/header-logo-background.njk' %}
        {# {% include 'snippet/header-logo.njk' %} #}
        {% include 'snippet/header-mobile-menu-trigger.njk' %}
        {% include 'snippet/header-social-links.njk' %}
    {% endblock header_snippets%}
</header>