{% include 'block/bottom-google-analytics.njk' %}
{# {% include 'block/bottom-init-navigation.njk' %} see /future/ in themesFor11ty #}
{# {% include 'block/bottom-register-service-worker.njk' see /future/ in themesFor11ty %} #}