    <footer id="main-footer" class="ga-foot-main">
      {% block footer_snippets %}
        {% include 'block/footer-description.njk' %}
        {% include 'block/footer-menu.njk' %}
      {% endblock footer_snippets %}
    </footer>