    <link rel="stylesheet" href="{{ '/static/css/variables.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/css/layout.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/css/markdown.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/css/style.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/css/grid.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/css/themes.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/css/theme.css' | url }}">
